<h3>Authenticate with Stack Exchange</h3>
<p>From here, you can link your Sentinel account with Stack Exchange. This allows you to access features on Sentinel
  that require Stack Exchange write access to perform.</p>
<p>Before you go ahead and authenticate, be aware that following this process stores a write-access key to your account
  in the Sentinel database. This is normal practice for integrated apps, but you should be aware that this key gives
  anyone who has access to it the potential to perform actions in your name.</p>
<p>The people who can access this token are the server host (Undo) and potentially any Sentinel developers.</p>

<p>If you trust these people and are happy with this risk, click the button below to authenticate. Some parts of the
  process may take a while; please be patient. There's a lot of data to get hold of.</p>

<%= link_to 'Authenticate', url_for(:controller => :se_auth, :action => :redirect), :method => :post, :class => 'btn btn-danger' %>
