<h3>Reasons</h3>
<p>Why have all those posts been caught? Because reasons, that's why. Most frequent first.</p>

<% @reasons.each do |reason| %>
  <%= render 'reasons/reason', :reason => reason %>
<% end %>
