<h3><%= @reason.name %></h3>
<p><%= pluralize(@reason.posts.count, "post") %> caught:</p>

<% @reason.posts.order(:created_at => :desc).each do |post| %>
  <%= render 'posts/post', :post => post %>
<% end %>
