<div class="post clearfix">
  <div class="post-title pull-left text-left">
    <%= link_to post.title, url_for(:controller => :posts, :action => :show, :id => post.id) %>
  </div>
  <div class="post-meta pull-right text-right">
    <%= time_ago_in_words(post.created_at) %> ago <strong>(<%= post.nato_score %>)</strong>
  </div>
</div>
