<h3>Posts with Feedback: <%= params[:type] %></h3>
<p>A list of all posts with <%= @type.name %> feedback.</p>

<% @posts.each do |post| %>
  <%= render 'posts/post', :post => post %>
<% end %>

<div class="text-center">
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
</div>
