// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.post:hover {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background: #fbfbfb;
}
